
</head>
<body>

<header class="header">
  <a href="/" class="header__logo">Author Panel</a>
    <!--<div class="header__toggle">
      <button class="toggle-btn" onclick="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>-->
    <nav class="header__nav" id="headerNav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dashboard">Profile</a></li><!-- Added Profile link -->
        <li>
          <div class="header__button">
            <a href="/logout" class="btn">Logout</a>
          </div>
        </li>
        <li></li>
      </ul>
    </nav>
</header>

<!--<div class="popup" id="popup">
  <div class="popup-content">
    <span class="close" onclick="togglePopup()">&times;</span>
    <h2>Login</h2>
    <main>
        <a class="google-btn" href="/auth/google">Google</a>
    </main>
    <main>
        <a class="facebook-btn" href="/auth/facebook">facebook</a>
    </main>
   </div>
</div>-->


