<h3>Admin Sign In</h3>
<form action="/admin" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter your username here ..">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" placeholder="Enter your password here ..">
    <input type="submit" value="Login" class="btn">
    <hr>
    
</form>
<h3>Admin Register</h3>
<form action="/register_admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="username" placeholder="Enter your username here ..">
    <label for="password"><b>Password</b></label>
    <input type="text" name="password" id="password" placeholder="Enter your password here ..">
    <input type="submit" value="Register" class="btn">
    <hr>
</form>