<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <style>
        body{
            font-family: arial;
            margin: 0;
        }
        nav{
            background: #ff5353;
            padding: 20px 10px;
        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        main img{
            width: 40px;
            margin-right: 10px;
            position: relative;
            top: 12px;
        }
        main p{
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <nav>
        <ul>
            <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="blogs">
        <h1>All Blogs</h1>

        <ul class="blogs">  <% blogs.forEach(blog => { %>
            <li class="blog">  <h2><%= blog.title %></h2>
              <p><%= blog.body %></p> 
              <% if (blog.body) { %>  <a href="/blog/<%= blog._id %>">Read more</a>
              <% } %>
            </li>
          <% }) %>
        </ul>
        
    </div>
</body>
</html>
