<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfnCKopAAAAACqX_lwoCbOWJNvLVPjK28PQfH7j"></script>
</head>
<body>
    <h3>Sign In</h3>
    <form action="/user" method="post" id="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username here ..">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="Enter your password here ..">
        <div class="g-recaptcha" data-sitekey="6Lfh-KopAAAAACFvUvFnzLxz8rCWfWqiIGRiVxGq"></div>
        <br/>
        <input type="submit" value="Login" class="btn">
        <hr>
        Or Sign In With
        <main>
            <a class="google-btn" href="/auth/google">Google</a>
            <a class="facebook-btn" href="/auth/facebook">facebook</a>
        </main>
        <a href="/register">create account ?</a>
    </form>
</body>
